<!DOCTYPE html>
<html>
  <head>
    <title>RedSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id='main'>
    <% if user_signed_in? %>
      <%= render 'partials/navbar' %>
    <% end %>
    <%= render 'partials/notice' %>
    <%= yield %>
  </body>
</html>
